.boxed {
    border: 1px solid #D1A79F;
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 0px;
}
body {
    background-color: #D1A79F;
    text-align: center;
    line-height: 1.65;
    max-width: 100%;
}
h1 {
    font-family: 'Raleway', sans-serif;
    border: 1px solid #EDEDF0;
    font-size: 100px;
    color: #50535A;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 75px;
    max-width: 100%;
}
h3 {
    color: #131112;
    font-family: 'Courier New', Courier, monospace;
}
a {
    font-family: 'Courier New', Courier, monospace;
    color: #131112;
    font-size: x-large;
    text-decoration: none;
}
a:hover {
    background: #EDEDF0;
    border: 1px solid #50535A;
    color:  #50535A;
}
ul {
    display: inline;
    font-family: 'Courier New', Courier, monospace;
    color: #50535A;
} 

p {
    font-family: 'Courier New', Courier, monospace;
    color: #50535A;
}
.site-description {
    color: #131112;
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
}

img {
    background-color: #EDEDF0;
    border: 1.5px solid #EDEDF0;
    padding: 5px;
    width: 300px
}

.blog-post {
    background: #EDEDF0;
    border: 1px solid #EDEDF0;
    margin: 75px;
    overflow: hidden;
    box-shadow: 2px 4px #50535A;
}

/* mobile screen */
@media screen and (max-width: 320px) {
    h1 {
        margin: 37.5;
        font-size: 40%;
    }
}

/* desktop/laptop */
@media only screen and (min-width: 1200px) {
  .boxed {
    max-width: 1200px;
    }
}

/* tablet portrait */
@media only screen and (max-width: 768px) {
      h1 {
        flex-wrap: wrap;
        margin: 0;
      }
}
