.boxed {
    border: 1px solid blanchedalmond;
    text-align: left;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 0px;
  }
body {
    background-color: blanchedalmond;
    text-align: center;
    line-height: 1.65;
}
h1 {
    font-family: 'Raleway', sans-serif;
    border: 1px solid white;
    font-size: 100px;
    color: #94958b;;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 100px;
    min-width: none;
}
h3 {
    font-family: 'Courier New', Courier, monospace;
}
a {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: x-large;
    text-decoration: none;
}
a:hover {
    background: white;
    border: 1px solid #94958b;
    color: lightgray;
  }
  ul {
      display: inline;
      font-family: 'Courier New', Courier, monospace;
      color: #94958b;
  }

p {
    font-family: 'Courier New', Courier, monospace;
    color: #94958b;
}
.site-description {
    font-family: 'Courier New', Courier, monospace;
    padding: 0px;
}
img {
    background: white;
    border: 1.5px solid white;
    padding: 5px;
    width: 200px
    
}
.blog-post {
    background: white;
    border: 1px solid white;
    margin: 100px;
    overflow: hidden;
}
@viewport {
    width: device-width ;
    zoom: 1.0 ;
  }